@font-face {
  font-family: Recoleta;
  font-weight: 400;
  font-style: normal;
  src: url("fonts/Recoleta-Regular.otf") format("otf");
  font-display: fallback;
}

html {
  font-family: Rubik, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: Rubik, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  }
}
